<!DOCTYPE html>
<html>
    <head>
        <title>My First Veiw!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <marquee behavior="scroll" direction="left" scrollamount="100px"><p>This HTML code is inside of a '.erb' file in the veiws directory, where it belongs.</p></marquee>
        <marquee behavior="scroll" direction="left" scrollamount="70px"><p>This HTML code is inside of a '.erb' file in the veiws directory, where it belongs.</p></marquee>
        <marquee behavior="scroll" direction="left" scrollamount="40px"><p>This HTML code is inside of a '.erb' file in the veiws directory, where it belongs.</p></marquee>
        <marquee behavior="scroll" direction="left" scrollamount="20px" scrolldelay="30px"><p>This HTML code is inside of a '.erb' file in the veiws directory, where it belongs.</p></marquee>
    </body>
</html>